[user]
	email = feherjani96@gmail.com
	name = János Fehér
[alias]
	br = branch
	ch = checkout
  chb = checkout -b
	co = commit
	st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgo = log --oneline
	ps = push
	psf = push --force
	pu = pull
	pur = pull --rebase
	rb = rebase
  com = commit -m
	amend = commit --amend
	aa = add --all
[pager]
	branch = false
[core]
	editor = vim
