[user]
	email = feherjani96@gmail.com
	name = Janos Feher
[alias]
	br = branch
	ch = checkout
  chb = checkout -b
	co = commit
	st = status
	loo = log --oneline
	ps = push
	psf = push --force
	pu = pull
	pur = pull --rebase
	rb = rebase
  com = commit -m
  coa = commit --amend
[pager]
	branch = false
