[user]
	email = feherjani96@gmail.com
	name = János Fehér
[alias]
  br = branch
  unstage = restore --staged
  sw = switch
  swc = switch -c
  swm = switch master
	ch = "!echo Do not use checkout, consider switch and restore && git checkout"
	co = commit
	st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgo = log --oneline
	ps = push
	psf = push --force-with-lease
  psu = push --set-upstream
	pl = pull
	rb = rebase
  com = commit -m
  cov = commit -v
	amend = commit --amend
  sneak = commit --amend --no-edit
	aa = add --all
[pager]
	branch = false
[core]
	editor = vim
[pull]
	rebase = true
